* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background-color: #F7F7F7;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 0.5em;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 1em;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

a {
  color: #39C;
  font-weight: 400;
  text-decoration: none;
}

.wrapper {
  width: 960px;
}

header {
  width: 240px;
  float: left;
  font-size: 0.9em;
  position: fixed;
  margin:2em 0 0 2em;
}

.content {
  width: 630px;
  float: right;
  margin: 2em 2em 0 0;
  padding-bottom: 50px;
}

article {
  background-color: #FFF;
  border: 1px solid #E7E7E7;
  padding: 1em 1em 0;
}

footer {
  font-size:0.8em;
  position: fixed;
  bottom: 0;
  width:100%;
  background-color:#222;
  color:#FFF;
  padding: 1em 1em 0;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    margin: 0;
    padding: 0;
    width: auto;
  }

  header, .content, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    background-color: #42484F;
    color: #C7C8CA;
    color: rgba(255, 255, 255, 0.7);
    padding: 1em;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  h1 {
    color:#FFF;
  }

  .content {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    margin: 0 1em 1em;
    padding: 1em 0;
  }

  footer {
    background-color: #42484F;
    color: #C7C8CA;
    color: rgba(255, 255, 255, 0.7);
    padding: 0;
    text-align: center;
  }
}

@media print, screen and (max-width: 480px) {
  .content {
    margin: 0 0.5em 1em;
  }
}
