{% extends "base.njk" %}

{% block content %}
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
    <h1 class="post-title" itemprop="name">{{ title }}</h1>
    <time class="post-date" datetime="{{ date | htmlDateString }}" itemprop="datePublished">{{ date | readableDate }}</time>

    {{ content | safe }}
</article>
{% endblock %}
