<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - Michael Wales</title>
    <meta name="author" content="Michael Wales">
    <meta name="description" content="With over 16 years developing web applications for the US Department of Defense and Intelligence communities, Michael Wales shares his unique perspective on a variety of web development and technology topics.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/bower_components/highlightjs/styles/github.css">
    <link rel="stylesheet" href="/styles/style.css">

    <script type="text/javascript" src="//use.typekit.net/byn8skt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body class="page" itemscope itemtype="//schema.org/Blog">
    <div class="sidebar">
        <header class="header" itemscope itemtype="//schema.org/Person">
            <h1 class="header-title" itemprop="name"><a href="/">
                <span>M</span>ichael <span>W</span>ales
            </a></h1>
            <h2 class="header-subtitle" itemprop="jobTitle">Full-Stack Web Developer &amp; Open Source Advocate</h2>
        </header>

        <nav>
            <ul class="nav">
                <li class="nav-item">
                   <a href="/resume/" title="Resume"><i class="ion-document-text"></i><span>Resume</span></a>
                </li>
                <li class="nav-item">
                    <a href="/about/" title="About"><i class="ion-information-circled"></i><span>About</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>

    </footer>

    <script src="/bower_components/highlightjs/highlight.pack.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-38735621-1', 'michaelwales.com');
        ga('send', 'pageview');
    </script>
</body>
</html>
